<div data-ng-controller="signInController">

		<div class=bar>
		<h3 style="color:white">SignIn to ToDoApp</h3>
		</div>
		
		<div class=bg >
		
		<form action="signIn" method="post">
		
		
		<table style="color:white">
		
		<tr><td>E-mail ID	</td><td>	<input type="text" name="email" data-ng-model="email" placeholder="email Id" id="form_email"></td></tr>				<tr style="color:red;"><td colspan="2"><span class="error_form" id="email_error_msg"></span></td></tr>
		<tr><td>Password	</td><td>	<input type="password" name="password" data-ng-model="password"  placeholder="password" id="form_password"></td></tr>			<tr style="color:red;"><td colspan="2"><span class="error_form" id="password_error_msg"></span></td></tr>
		
		
		<tr><td></td><td><input type="submit" value="signIn" data-ng-click="signIn()"></td></tr>
		</table>
		
		
		</form>
		</div>
		<a href="signUpPage" style="color:black">New User? SignUp</a>

</div>