#search
{
	height:47px;
	margin-left: 55px;
	padding-left: 30px;
	outline: none;
	background-color: #fcaf3e;
	border-radius:3px;
	border: none;
	margin-top: -5px;
}


#navHead
{
	padding-top: 12px;
	margin-left: -50px;
}
#navBar
{
	height: 65px;
	background-color: #fb0;
}

#refresh
{
	margin-left: -230px;
	margin-top: 20px;
	font-size: 17px;
}

#list
{
	margin-left: -180px;
	margin-top: 20px;
	font-size: 17px;
}




#homeBody
{
	margin-top: 100px;
}

.todo
{
	width: 85%;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 20px;
	background-color: white;
	margin-top:30px;
	margin-left: 100px;
	margin-bottom: 30px;
	box-shadow: 1px 1px 1px 0px;
}


#note
{
	width: 85%;
	height: 45px;
	padding-top: 12px;
	padding-left: 20px;
	background-color: white;
	margin-left: 100px;
	font-style: italic;
	outline: none;
	box-shadow: 2px 2px 2px 0px;
	
}

#done
{
	width: 85%;
	cursor: pointer;
	margin-left: 100px;
	background-color: white;
	padding-left: 75%;
	padding-bottom: 10px;
	box-shadow: 2px 2px 2px 0px;
}

#title
{
	width: 85%;
	height: 45px;
	padding-top: 12px;
	padding-left: 20px;
	background-color: white;
	margin-left: 100px;
	font-style: italic;
	outline: none;
	box-shadow: 2px 2px 2px 0px;
	
}

#note:empty:before
{
    content: attr(placeholder);
    display: block;
}

#title:empty:before
{
    content: attr(placeholder);
    display: block;
}


#toDoTitle
{
	font-weight: bold;
	padding-bottom: 10px;
}
#toDoNote
{
	padding-bottom: 10px;
	word-wrap: break-word;
}

