/* #form_firstName,#form_lastName,#form_mobile,#form_email,#form_password{
    width: 70%;
    padding: 6px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #204a87;
    border-radius: 5px;
   
} */

#signInhead
{
	width: 100%;
	margin-top: 1px;
	padding-top:5px;
	padding-left:25%;
	border-radius: 5px;
	background-color: #204a87;
	color: white;
	
}

#sigInBody
{
	width: 100%;
	margin-top: 10px;
	padding-left:10px;
	padding-bottom: 10px;
	border-radius: 5px;
	background-color: white;
}


#signInBottom {
    width: 100%;
    padding: 6px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #204a87;
    padding-left: 33%;
}

