#signUphead
{
	width: 100%;
	margin-top: 1px;
	padding-top:5px;
	padding-left:25%;
	border-radius: 5px;
	background-color: #204a87;
	color: white;
}


#signUpBody
{
	width:100%;
	hight: 200px;
	margin-top: 10px;
	padding-top:10px;
	padding-left:10px;
	padding-bottom: 10px;
	border-radius: 5px;
	background-color: white;
	margin-bottom: 10px;
}



#signUpBottom {
    width: 100%;
    padding: 6px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #204a87;
    padding-left: 27%;
}

#body {
	background-color: #c0c0c0;
}
