<div data-ng-controller="homeController as hc">
<div>
	<nav id="navBar" class="navbar navbar-default navbar-fixed-top" role="navigation">
	      <div class="container">
	      
				<div class="navbar-header" id="navHead">
				
					<span><span data-ng-click="visible=!visible; hc.move()" style="margin-left: 10px; cursor: pointer;"><img alt="icon" data-toggle="tooltip" title="Menu" src="images/Menu.png" width="25px" height="20px"></span>
					<strong style="padding-left: 35px; font-size: 22px;">Nanna </strong><i style="font-size: 20px;">Keep</i>
					<span class="glyphicon glyphicon-search"></span><input type="text" id="search" placeholder="Search"  data-toggle="tooltip" title="Search"></span>
	            
				</div>
				
	          <ul class="nav navbar-nav navbar-right" id="navBar">
	          
	            <li id="refresh"><span class="glyphicon glyphicon-repeat"></span></li>
	            <li><span  class="btn glyphicon" data-ng-click="isList = !isList" ng-class="{'glyphicon-list': !isList, 'glyphicon-th-large': isList}"></span></li>
	            <li><span id="signOut" class="glyphicon glyphicon-off" data-ng-click="hc.signOut()"></span></li>
	            
	          </ul>
	      </div>
	</nav>
</div>



  <div data-ng-class="{'is-visible':visible}" class="menu">
    <ul style="padding-top: 20px; font-size: 20px;">
      <li>Home</li>
      <li>Notes</li>
      <li>About</li>
      <li><a href="#signIn">SignOut</a></li>
    </ul>
  </div>



<div id="homeBody" class="row"  data-ng-style="move">
		<div class="col-sm-2"></div>
			<div class="col-sm-10">
						
					<div>
						<div>
						
							<div data-ng-show ="IsVisible" id="title" name="title" data-ng-model="toDo.title" newcontenteditable contenteditable="true" placeholder="Title" style="font-weight: bold;"></div>
							<div id="note" name="note" data-ng-model="toDo.note" data-ng-click="hc.showHide()" newcontenteditable contenteditable="true" placeholder="Take a note..."></div>
							<div data-ng-show ="done" id="done">
							<span><img alt="color" src="images/remaind.png" width="25px;" height="20px;" data-toggle="tooltip" title="Remind me" style="margin-left: 20px; cursor: pointer;"></span>
							<span><img alt="color" src="images/color.png" width="20px;" height="20px;" data-toggle="tooltip" title="Change color" style="margin-left: 20px; cursor: pointer;"></span>
							<span style="float: right; cursor: pointer;" data-ng-click="hc.addNote()">DONE</span>
							</div>
							
						</div>
					</div>
					
					
					<div class="cont" data-ng-class="{list: isList, grid: !isList}">
						<div class="cardRow">
							<div class="card" data-ng-repeat="todo in toDoList" data-ng-mouseover="icons=true" data-ng-mouseleave="icons=false">
						
								<div  data-ng-click="hc.popUp(todo, $index)" >
									<div id="toDoTitle">{{todo.title}}</div>
									<div id="toDoNote">{{todo.note}}</div>
								</div>
							
								<div  uib-dropdown dropdown-append-to-body id="icons" style="padding-left: 20px;">
									<span data-ng-show="icons">
									<span><img alt="color" src="images/remaind.png" width="25px;" height="20px;" data-toggle="tooltip" title="Remind me" style=" cursor: pointer;""></span>
									<span><img alt="color" src="images/color.png" width="20px;" height="20px;" data-toggle="tooltip" title="Change color" style="margin-left: 20px; cursor: pointer;"></span>
									<span><img alt="color" src="images/update.png" width="25px;" height="22px;" data-toggle="tooltip" title="Update note" style="margin-left: 20px; cursor: pointer;" data-ng-click="hc.popUp(todo, $index)"></span>
									<span uib-dropdown-toggle class="glyphicon btn-group" data-toggle="tooltip" title="More" style="margin-left: 15px;"><img alt="icon" src="images/more.png" width="30px" height="25px"></span>
									</span>
									
									<div >
										<ul uib-dropdown-menu class="dropdown-menu" style="cursor: pointer;">
											<li data-ng-click="hc.makeCopy(todo)"><a>Make a copy</a></li>
											<li data-ng-click="hc.deleteNote(todo.id, $index)"><a>Delete Note</a></li>
										</ul>
									</div>
									
								</div>
							</div>
						</div>
					
					</div>
				</div>
			</div>
</div>

