<div data-ng-controller="signUpController">
	
	
		<div  id="signUphead">
			<h3>SignUp to ToDoApp</h3>
		</div>
		
		
		<form>
				<div id="signUpBody" >
					<table >
			
							<tr><td>First Name	</td><td>	<input type="text" name="firstName" data-ng-model="firstName" placeholder="first name" id="form_firstName"></td></tr>		<tr style="color:red;"><td colspan="2"><span class="error_form" id="firstName_error_msg"></span></td></tr>
							<tr><td>Last Name	</td><td>	<input type="text" name="lastName" data-ng-model="lastName" data-ng-model="lastName" placeholder="last name" id="form_lastName"></td></tr>		<tr style="color:red;"><td colspan="2"><span class="error_form" id="lastName_error_msg"></span></td></tr>
							<tr><td>Mobile No.	</td><td>	<input type="text" name="mobile" data-ng-model="mobile" placeholder="mobile number" id="form_mobile"></td></tr>		<tr style="color:red;"><td colspan="2"><span class="error_form" id="mobile_error_msg"></span></td></tr>
							<tr><td>E-mail ID	</td><td>	<input type="text" name="email" data-ng-model="email" placeholder="email Id" id="form_email"></td></tr>				<tr style="color:red;"><td colspan="2"><span class="error_form" id="email_error_msg"></span></td></tr>
							<tr><td>Password	</td><td>	<input type="password" data-ng-model="password" name="password" placeholder="password" id="form_password"></td></tr>		<tr style="color:red;"><td colspan="2"><span class="error_form" id="password_error_msg"></span></td></tr>
							
							<tr><td></td><td><input type="submit" value="signUp" data-ng-click="signUp()"></td></tr>
					</table>
			
				</div>
		</form>
		
		<div id="signUpBottom">
			<a data-ui-sref="signIn">Already Registered? SignIn</a>
		</div>


</div>