	<div class="row">
		<div class="col-sm-4"></div>
		
			<div class="col-sm-4">
					<div data-ng-controller="signInController">
					
							<div id="signInhead">
								<h3>SignIn to ToDoApp</h3>
							</div>
							
							<div id="sigInBody" >
							
								<form method="post">
								
								
								<table>
								
								<tr><td>E-mail ID	</td><td>	<input type="text" name="email" data-ng-model="email" placeholder="email Id" id="form_email"></td></tr>				<tr style="color:red;"><td colspan="2"><span class="error_form" id="email_error_msg"></span></td></tr>
								<tr><td>Password	</td><td>	<input type="password" name="password" data-ng-model="password"  placeholder="password" id="form_password"></td></tr>			<tr style="color:red;"><td colspan="2"><span class="error_form" id="password_error_msg"></span></td></tr>
								
								
								<tr><td></td><td><input type="submit" value="signIn" data-ng-click="signIn()"></td></tr>
								</table>
								
								
								</form>
								
							</div>
							
							<div id="signInBottom">
								<a style="color: white;" data-ui-sref="signUp">New User? SignUp</a>
							</div>
					</div>
			</div>
			<div class="col-sm-4"></div>
	</div>
