<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">

<div data-ng-controller="signUpController">
					
<nav id="navBar" class="navbar navbar-default navbar-fixed-top" role="navigation">
	      <div class="container">
	      <div class="navbar-header" style="display: flex;">
         
				
				<div class="navbar-brand" style="font-weight: bold;">
					SignUp to ToDoApp
				</div>
				
		</div>
      </div>
      
</nav>
					
						
						
						<form>
						
						
						<div id="signUpBody" >
						
						
						<div class="form-group">
								<label for="name" class="cols-sm-2 control-label">Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><img src="images/Contact.png" width="20px" height="20px"></span>
                                    <input type="text" class="form-control" name="name" id="form_name" data-ng-model="name" placeholder="Your Name" />
								</div>
							</div>
						</div>
						
						<span style="color: red" class="error_form" id="name_error_msg"></span>		
											
											
											
										
										
						<div class="form-group">
								<label for="mobile" class="cols-sm-2 control-label">Mobile</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><img src="images/phone.png" width="20px" height="20px"></span>
									<input type="text" class="form-control" name="mobile" id="form_mobile" data-ng-model="mobile"  placeholder="Your mobile Number"/>
								</div>
							</div>
						</div>
								
						<span style="color:red" class="error_form" id="mobile_error_msg"></span>
								
								
									
									
						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><img src="images/mail.png" width="20px" height="20px"></span>
									<input type="text" class="form-control" name="email" id="form_email" data-ng-model="email" placeholder="Your Email"/>
								</div>
							</div>
						</div>
						
						<span style="color: red" class="error_form" id="email_error_msg"></span>		
							
								
						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><img src="images/Password.png" width="20px" height="20px"></span>
									<input type="text" class="form-control" name="password" id="form_password" data-ng-model="password"  placeholder="Password"/>
								</div>
							</div>
						</div>
						
						<span style="color: red" class="error_form" id="password_error_msg"></span>	
								
						<input type="submit" value="SignUp" data-ng-click="signUp()">			
											
					</form>
					
					</div>
					
					<div id="signUpBottom">
						<a style="color: black;" data-ui-sref="signIn">Already Registered? SignIn</a>
					</div>
		
				<nav id="navBar" class="navbar navbar-default navbar-fixed-bottom" role="navigation">
	      <div class="container">
	      <div class="navbar-header" style="display: flex;">
         
				
				
		</div>
      </div>
      
</nav>
		</div>
</div>