	<div class="row">
		<div class="col-sm-4"></div>
		
			<div class="col-sm-4">
					<div data-ng-controller="signInController">
					
							<div id="signInhead">
								<h3>SignIn to ToDoApp</h3>
							</div>
							
							<div id="sigInBody" >
							
								<form method="post">
								
								
								 
						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><img src="images/mail.png" width="20px" height="20px"></span>
									<input type="text" class="form-control" name="email" id="form_email" data-ng-model="email" placeholder="Your Email"/>
								</div>
							</div>
						</div>
						
						<span style="color: red" class="error_form" id="email_error_msg"></span>		
							
								
						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><img src="images/Password.png" width="20px" height="20px"></span>
									<input type="text" class="form-control" name="password" id="form_password" data-ng-model="password"  placeholder="Your mobile Number"/>
								</div>
							</div>
						</div>
						
						
								
								
								
							<input type="submit" value="signIn" data-ng-click="signIn()">
								
								
								
								</form>
								
							</div>
							
							<div id="signInBottom">
								<a style="color: white;" data-ui-sref="signUp">New User? SignUp</a>
							</div>
					</div>
			</div>
			<div class="col-sm-4"></div>
	</div>
